// Place all the styles related to the colleagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#list_of_coll {
  margin: 10px 20px 20px;
}

.coll_title {
  text-align: left;
}

#mini_avatar {
  display: table-cell;
  max-width: 70px;
  padding: 5px;
}

.mini_avatar_store {
  text-align: right;
}

.user_link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.colleague_info {
  text-align: center;
}

#colleague {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
