// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p#alert
{
  color: #cc0000;
}

div.login_div
{
  width: 20%;
  //height: 130px;
  margin: 20% auto auto;
  text-align: center;
}

div.msg
{
  height: 20px;
}