// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.get_info_div {
  margin: auto;
  text-align: center;
}

.signup_div {
  width: 183px;
}

.edit_user_info_div {
  width: 200px;
}

.edit_input {
  width: 200px;
}

div#error_explanation {
  margin: auto;
  text-align: left;
  border-radius: 3px;
}

.error_div {
  margin-top: 20px;
}

.reg_error {
  height: 200px;
}

.edit_error {
  height: 150px;
}

.field_with_errors {
  border-radius: 3px;
  padding: 0 4px 0 0;
}

#warning_msg {
  width: 650px;
  margin: 20% auto auto;
  text-align: center;
}

#info_table {
  margin: 0;
}

#warning {
  font-weight: bold;
  font-size: 20px;
}

#user_info {
  width: 500px;
  margin: 8% auto auto;
}

.caption {
  width: 50%;
  font-size: 20px;
  line-height: 57px;
}

.value {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 57px;
}

#avatar_store {
  text-align: right;
  vertical-align: middle;
}

#avatar {
  max-width: 235px;
  max-height: 300px;
}
