<%= render 'todoer/head' %>
<div id="warning_msg">
  <p id="warning">Данный проект представляет собой реализацию TODO-приложения для органиции списка задач, которые нужно выполнить в ближайшем или отдаленном будущем.</p>
  <a href="<%= root_path %>">Я все понял</a>
</div>